# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
*.egg

# Model and temporary files
svd_model.pkl
*.log

# Static files generated during runtime
static/rating_distribution.png
static/genre_distribution.png
static/user_rating_distribution.png
static/recommended_genres.png